.title,
.subtitle {
  text-align: left;
}
.buttons {
  position: absolute;
  bottom: 20px; /* 하단 여백 조정 */
  display: flex;
  justify-content: space-between;
  width: 100%; /* 부모 요소에 대한 전체 너비 */
  top: 0%;
  padding: 0 20px; /* 좌우 여백 조정 */
}

.buttons button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.directionPrev,
.directionNext {
  border-bottom: 3px solid white;
}
.directionPrev {
  padding-left: 20px;
}
.directionNext {
  padding-right: 20px;
}
.KOEURO {
  background-color: #ccc;
  padding-top: 50px;
}
.KOEURONAME {
  font-weight: bold;
}
.textBox {
  margin-bottom: 80px;
}
.KOEUROIMG {
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
}
