.rotationFromBottom {
  animation: rotationFromBottom ease 5s;
}

@keyframes rotationFromBottom {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-200px) scale(10) rotate(45deg);
    opacity: 0.1;
  }
}

.appearFromBottom {
  animation: appearFromBottom ease 1.5s;
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(150px);
  }

  100% {
  }
}
