.appearFromBottom {
  animation: appearFromBottom ease 1.5s;
}

.rotate45 {
  transform: rotate(45deg);
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}
